
.datagrid-cell a{color: blue;margin: 0 5px;}
.datagrid-cell a:hover{color: blue;}
.fm_lab {text-align: right;}
.fm_lab s{color: red;}

.search-panel{margin-bottom: 10px;}

.insert-tab {
    border: 1px solid #eee;
    border-collapse: collapse;
}
.insert-tab th, .insert-tab td {
    border: 1px solid #eee;
}
.insert-tab tr {
    line-height: 40px;
}
.insert-tab th {
    font-size: 14px;
    font-weight: normal;
    padding-right: 10px;
    text-align: right;
}
.insert-tab td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}