## filename=${context.javaBeanName}Mapper.java, folder=
package ${context.packageName}.mapper;

import org.apache.ibatis.annotations.Mapper;
import ${context.packageName}.entity.${context.javaBeanName};

import java.util.List;

/**
 * ${context.javaBeanName}Mapper.
 *
 * @author ${context.author}
 * @date ${context.date}
 * @description
 */
@Mapper
public interface ${context.javaBeanName}Mapper {

	/**
     * 查询所有记录
     *
     * @return 返回集合，没有返回空List
     */
	List<${context.javaBeanName}> listAll();

	/**
     * 根据主键查询
     *
     * @param ${pk.javaFieldName} 主键ID
     * @return 返回记录，没有返回null
     */
	${context.javaBeanName} getById(${pk.javaTypeBox} ${pk.javaFieldName});
	
	/**
     * 新增(插入所有字段)
     *
     * @param ${context.javaBeanNameLF} 新增的记录
     * @return 返回影响行数
     */
	int insert(${context.javaBeanName} ${context.javaBeanNameLF});
	
	/**
     * 新增(忽略null字段)
     *
     * @param ${context.javaBeanNameLF} 新增的记录
     * @return 返回影响行数
     */
	int insertIgnoreNull(${context.javaBeanName} ${context.javaBeanNameLF});
	
	/**
     * 修改(修改所有字段)
     *
     * @param ${context.javaBeanNameLF} 修改的记录
     * @return 返回影响行数
     */
	int update(${context.javaBeanName} ${context.javaBeanNameLF});
	
	/**
     * 修改(忽略null字段)
     *
     * @param ${context.javaBeanNameLF} 修改的记录
     * @return 返回影响行数
     */
	int updateIgnoreNull(${context.javaBeanName} ${context.javaBeanNameLF});
    
    /**
     * 根据主键删除记录
     *
     * @param ${pk.javaFieldName} 主键ID
     * @return 返回影响行数
     */
	int deleteById(${pk.javaTypeBox} ${pk.javaFieldName});
	
	/**
     * 根据主键逻辑删除
     *
     * @param ${pk.javaFieldName} 主键ID
     * @return 返回影响行数
     */
	int deleteLogic(${pk.javaTypeBox} ${pk.javaFieldName});
}